<h1> Editing: <%= @task.name %> </h1>
<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>


<br>
<br>


<form method="post" action="/tasks/<%=@task.id%>">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type="text" name="name" value="<%= @task.name %>">
      <input type="submit" value="update">
    </form>
