<h1> Welcome to your Task Manager <%= current_user.name %>! </h1>

<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<br>
<br>

<h2>All Tasks</h2>
<div class="list-group" "text-center">
   <% Task.all.each do |task| %>
     <h3><a href="tasks/<%= task.id%>" class="list-group-item"><%= task.name %></a></h3>
   <% end %><br><br>
   <a class="btn btn-sm btn-primary" href="/tasks/new">Create Task</a>
   </div>
